In [52]:
import numpy as nm #importing required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("CE_SE_2021.csv") #importing dataset

In [4]:
df.head() #showing first 5 rows in the dataset

,DISCRETE MATHEMATICS,FUND. OF DATA STRUCTURES,OBJECT ORIENTED PROGRAMMING,COMPUTER GRAPHICS,DIGITAL ELEC. & LOGIC DESIGN,DATA STUCTURES LABORATORY,OOP & COMP. GRAPHICS LAB.,DIGITAL ELEC. LABORATORY,BUSINESS COMMUNICATION SKILLS,HUMANITY & SOCIAL SCIENCE,...,PRINCIPLES OF PROG. LANG.,DATA STRUCTURES & ALGO. LAB.,MICROPROCESSOR LABORATORY,PROJECT BASED LEARNING II,CODE OF CONDUCT,AUDIT COURSE.1,SEM_3_SGPA,SEM_4_SGPA,TOTAL_CREDITS_EARNED,CGPA
0,27,24,21,27,30,16,10,10,10,9,...,NaN,NaN,9.0,18,9,NaN,8.364,3.000,33,--
1,30,30,30,30,30,18,16,9,9,9,...,24.0,16.0,9.0,20,9,NaN,9.591,8.727,44,9.16
2,24,27,30,27,30,18,12,9,9,8,...,18.0,18.0,9.0,18,9,NaN,8.818,7.318,44,8.07
3,27,27,30,27,30,14,18,9,9,9,...,24.0,20.0,9.0,20,10,NaN,9.091,8.273,44,8.68
4,30,30,30,30,30,18,18,9,9,10,...,12.0,16.0,7.0,20,8,NaN,9.727,6.364,44,8.05

In [5]:
df.head(20) #showing first 20 rows in the dataset

,DISCRETE MATHEMATICS,FUND. OF DATA STRUCTURES,OBJECT ORIENTED PROGRAMMING,COMPUTER GRAPHICS,DIGITAL ELEC. & LOGIC DESIGN,DATA STUCTURES LABORATORY,OOP & COMP. GRAPHICS LAB.,DIGITAL ELEC. LABORATORY,BUSINESS COMMUNICATION SKILLS,HUMANITY & SOCIAL SCIENCE,...,PRINCIPLES OF PROG. LANG.,DATA STRUCTURES & ALGO. LAB.,MICROPROCESSOR LABORATORY,PROJECT BASED LEARNING II,CODE OF CONDUCT,AUDIT COURSE.1,SEM_3_SGPA,SEM_4_SGPA,TOTAL_CREDITS_EARNED,CGPA
0,27,24,21,27,30,16,10,10,10,9,...,NaN,NaN,9.0,18,9,NaN,8.364,3.000,33,--
1,30,30,30,30,30,18,16,9,9,9,...,24.0,16.0,9.0,20,9,NaN,9.591,8.727,44,9.16
2,24,27,30,27,30,18,12,9,9,8,...,18.0,18.0,9.0,18,9,NaN,8.818,7.318,44,8.07
3,27,27,30,27,30,14,18,9,9,9,...,24.0,20.0,9.0,20,10,NaN,9.091,8.273,44,8.68
4,30,30,30,30,30,18,18,9,9,10,...,12.0,16.0,7.0,20,8,NaN,9.727,6.364,44,8.05
5,30,30,24,27,30,16,20,9,9,9,...,21.0,20.0,9.0,20,10,NaN,9.273,7.818,44,8.55
6,30,30,30,30,30,18,16,9,9,9,...,18.0,14.0,8.0,18,9,NaN,9.591,6.864,44,8.23
7,27,24,27,27,30,18,16,10,10,8,...,21.0,14.0,9.0,18,10,NaN,8.955,5.682,41,--
8,30,27,27,27,27,18,16,10,9,8,...,21.0,16.0,8.0,20,9,NaN,9.045,7.364,44,8.20
9,30,30,30,30,30,18,18,10,9,10,...,21.0,16.0,9.0,18,9,NaN,9.773,7.364,44,8.57
10,24,30,27,27,30,16,18,9,10,9,...,18.0,14.0,8.0,18,10,NaN,9.091,4.727,38,--
11,30,30,30,27,30,12,16,10,9,10,...,27.0,12.0,8.0,18,10,NaN,9.273,7.864,44,8.57
12,30,30,24,27,30,16,18,8,8,4,...,15.0,10.0,5.0,16,7,NaN,8.864,2.591,32,--
13,30,30,30,27,30,18,16,9,9,9,...,18.0,16.0,7.0,18,9,NaN,9.455,6.727,44,8.09
14,30,30,30,27,30,18,16,9,10,9,...,27.0,18.0,10.0,18,9,NaN,9.500,8.636,44,9.07
15,30,30,30,30,30,18,18,10,10,7,...,21.0,18.0,8.0,18,9,NaN,9.682,7.591,44,8.64
16,30,30,30,27,30,16,16,10,9,9,...,21.0,NaN,8.0,20,10,NaN,9.409,5.727,42,--
17,30,30,27,30,30,18,16,10,10,9,...,27.0,14.0,8.0,18,9,NaN,9.545,8.500,44,9.02
18,27,30,27,30,30,18,14,9,9,9,...,15.0,18.0,8.0,18,8,NaN,9.227,7.364,44,8.30
19,30,30,30,27,30,18,18,10,9,9,...,21.0,18.0,9.0,18,9,NaN,9.591,8.136,44,8.86

In [8]:
df.shape #printing number of rows and columns

(333, 26)

In [9]:
df.isnull().sum() #printing the number of null values in each column

DISCRETE MATHEMATICS               0
FUND. OF DATA STRUCTURES           0
OBJECT ORIENTED PROGRAMMING        0
COMPUTER GRAPHICS                  0
DIGITAL ELEC. & LOGIC DESIGN       0
DATA STUCTURES LABORATORY          0
OOP & COMP. GRAPHICS LAB.          0
DIGITAL ELEC. LABORATORY           0
BUSINESS COMMUNICATION SKILLS      0
HUMANITY & SOCIAL SCIENCE          0
AUDIT COURSE                     333
ENGINEERING MATHEMATICS III       10
ENGINEERING MATHEMATICS III.1      0
DATA STRUCTURES & ALGO.           12
SOFTWARE ENGINEERING               9
MICROPROCESSOR                    11
PRINCIPLES OF PROG. LANG.          8
DATA STRUCTURES & ALGO. LAB.      19
MICROPROCESSOR LABORATORY          8
PROJECT BASED LEARNING II          0
CODE OF CONDUCT                    0
AUDIT COURSE.1                   333
SEM_3_SGPA                         0
SEM_4_SGPA                         0
TOTAL_CREDITS_EARNED               0
CGPA                               0
dtype: int64

In [12]:
print("Total missing values: ", df.isnull().sum().sum()) #printing the total number of null values

Total missing values:  743

In [13]:
df.info() #printing the details of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DISCRETE MATHEMATICS           333 non-null    int64
 1   FUND. OF DATA STRUCTURES       333 non-null    int64
 2   OBJECT ORIENTED PROGRAMMING    333 non-null    int64
 3   COMPUTER GRAPHICS              333 non-null    int64
 4   DIGITAL ELEC. & LOGIC DESIGN   333 non-null    int64
 5   DATA STUCTURES LABORATORY      333 non-null    int64
 6   OOP & COMP. GRAPHICS LAB.      333 non-null    int64
 7   DIGITAL ELEC. LABORATORY       333 non-null    int64
 8   BUSINESS COMMUNICATION SKILLS  333 non-null    int64
 9   HUMANITY & SOCIAL SCIENCE      333 non-null    int64
 10  AUDIT COURSE                   0 non-null      float64
 11  ENGINEERING MATHEMATICS III    323 non-null    float64
 12  ENGINEERING MATHEMATICS III.1  333 non-null    int64
 13  DATA STRUCTURES & ALGO.        321 non-null    float64
 14  SOFTWARE ENGINEERING           324 non-null    float64
 15  MICROPROCESSOR                 322 non-null    float64
 16  PRINCIPLES OF PROG. LANG.      325 non-null    float64
 17  DATA STRUCTURES & ALGO. LAB.   314 non-null    float64
 18  MICROPROCESSOR LABORATORY      325 non-null    float64
 19  PROJECT BASED LEARNING II      333 non-null    int64
 20  CODE OF CONDUCT                333 non-null    int64
 21  AUDIT COURSE.1                 0 non-null      float64
 22  SEM_3_SGPA                     333 non-null    float64
 23  SEM_4_SGPA                     333 non-null    float64
 24  TOTAL_CREDITS_EARNED           333 non-null    int64
 25  CGPA                           333 non-null    object
dtypes: float64(11), int64(14), object(1)
memory usage: 67.8+ KB

In [14]:
df.dtypes #printing the data types of each column

DISCRETE MATHEMATICS               int64
FUND. OF DATA STRUCTURES           int64
OBJECT ORIENTED PROGRAMMING        int64
COMPUTER GRAPHICS                  int64
DIGITAL ELEC. & LOGIC DESIGN       int64
DATA STUCTURES LABORATORY          int64
OOP & COMP. GRAPHICS LAB.          int64
DIGITAL ELEC. LABORATORY           int64
BUSINESS COMMUNICATION SKILLS      int64
HUMANITY & SOCIAL SCIENCE          int64
AUDIT COURSE                     float64
ENGINEERING MATHEMATICS III      float64
ENGINEERING MATHEMATICS III.1      int64
DATA STRUCTURES & ALGO.          float64
SOFTWARE ENGINEERING             float64
MICROPROCESSOR                   float64
PRINCIPLES OF PROG. LANG.        float64
DATA STRUCTURES & ALGO. LAB.     float64
MICROPROCESSOR LABORATORY        float64
PROJECT BASED LEARNING II          int64
CODE OF CONDUCT                    int64
AUDIT COURSE.1                   float64
SEM_3_SGPA                       float64
SEM_4_SGPA                       float64
TOTAL_CREDITS_EARNED               int64
CGPA                              object
dtype: object

In [16]:
mean_sgpa_sem3 = df['SEM_3_SGPA'].mean() #calculating the mean of SEM 3 SGPA
mean_sgpa_sem3

9.436123123123124

In [17]:
mean_sgpa_sem4 = df['SEM_4_SGPA'].mean() #calculating the mean of SEM 3 SGPA
mean_sgpa_sem4

7.408681681681683

In [19]:
df.columns #printing all the columns in the dataset

Index(['DISCRETE MATHEMATICS', 'FUND. OF DATA STRUCTURES',
       'OBJECT ORIENTED PROGRAMMING', 'COMPUTER GRAPHICS',
       'DIGITAL ELEC. & LOGIC DESIGN', 'DATA STUCTURES LABORATORY',
       'OOP & COMP. GRAPHICS LAB.', 'DIGITAL ELEC. LABORATORY',
       'BUSINESS COMMUNICATION SKILLS', 'HUMANITY & SOCIAL SCIENCE',
       'AUDIT COURSE', 'ENGINEERING MATHEMATICS III',
       'ENGINEERING MATHEMATICS III.1', 'DATA STRUCTURES & ALGO.',
       'SOFTWARE ENGINEERING', 'MICROPROCESSOR', 'PRINCIPLES OF PROG. LANG.',
       'DATA STRUCTURES & ALGO. LAB.', 'MICROPROCESSOR LABORATORY',
       'PROJECT BASED LEARNING II', 'CODE OF CONDUCT', 'AUDIT COURSE.1',
       'SEM_3_SGPA', 'SEM_4_SGPA', 'TOTAL_CREDITS_EARNED', 'CGPA'],
      dtype='object')

In [21]:
df2 = df.filter(['SEM_3_SGPA', 'SEM_4_SGPA', 'CGPA']) #showing only the required columns
df2

     SEM_3_SGPA  SEM_4_SGPA  CGPA
0         8.364       3.000    --
1         9.591       8.727  9.16
2         8.818       7.318  8.07
3         9.091       8.273  8.68
4         9.727       6.364  8.05
..          ...         ...   ...
328       9.273       6.409  7.84
329       9.045       6.682  7.86
330       9.545       8.227  8.89
331       9.091       7.955  8.52
332      10.000       8.091  9.05

[333 rows x 3 columns]

In [22]:
mean = df['SEM_3_SGPA'].mean() #replacing the null values with the mean value
df['SEM_3_SGPA'].fillna(value = mean, inplace = True)

In [23]:
mean = df['SEM_4_SGPA'].mean() #replacing the null values with the mean value
df['SEM_4_SGPA'].fillna(value = mean, inplace = True)

In [26]:
mode = df['ENGINEERING MATHEMATICS III'].mode().iloc[0] #replacing the null values with the mode
df['ENGINEERING MATHEMATICS III'].fillna(value = mode, inplace = True)

In [27]:
mode = df['DATA STRUCTURES & ALGO.'].mode().iloc[0] #replacing the null values with the mode
df['DATA STRUCTURES & ALGO.'].fillna(value = mode, inplace = True)

In [28]:
mode = df['SOFTWARE ENGINEERING'].mode().iloc[0] #replacing the null values with the mode
df['SOFTWARE ENGINEERING'].fillna(value = mode, inplace = True)

In [29]:
mode = df['MICROPROCESSOR'].mode().iloc[0] #replacing the null values with the mode
df['MICROPROCESSOR'].fillna(value = mode, inplace = True)

In [30]:
mode = df['DATA STRUCTURES & ALGO. LAB.'].mode().iloc[0] #replacing the null values with the mode
df['DATA STRUCTURES & ALGO. LAB.'].fillna(value = mode, inplace = True)

In [48]:
mode = df['PRINCIPLES OF PROG. LANG.'].mode().iloc[0] #replacing the null values with the mode
df['PRINCIPLES OF PROG. LANG.'].fillna(value = mode, inplace = True)

In [49]:
mode = df['MICROPROCESSOR LABORATORY'].mode().iloc[0] #replacing the null values with the mode
df['MICROPROCESSOR LABORATORY'].fillna(value = mode, inplace = True)

In [55]:
df.isnull().sum() #after replacing null values, final dataset showing number of null values

DISCRETE MATHEMATICS               0
FUND. OF DATA STRUCTURES           0
OBJECT ORIENTED PROGRAMMING        0
COMPUTER GRAPHICS                  0
DIGITAL ELEC. & LOGIC DESIGN       0
DATA STUCTURES LABORATORY          0
OOP & COMP. GRAPHICS LAB.          0
DIGITAL ELEC. LABORATORY           0
BUSINESS COMMUNICATION SKILLS      0
HUMANITY & SOCIAL SCIENCE          0
AUDIT COURSE                     333
ENGINEERING MATHEMATICS III        0
ENGINEERING MATHEMATICS III.1      0
DATA STRUCTURES & ALGO.            0
SOFTWARE ENGINEERING               0
MICROPROCESSOR                     0
PRINCIPLES OF PROG. LANG.          0
DATA STRUCTURES & ALGO. LAB.       0
MICROPROCESSOR LABORATORY          0
PROJECT BASED LEARNING II          0
CODE OF CONDUCT                    0
AUDIT COURSE.1                   333
SEM_3_SGPA                         0
SEM_4_SGPA                         0
TOTAL_CREDITS_EARNED               0
CGPA                               0
dtype: int64